*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    height: 100vh;
    width: 100%;
}

.main_class{
    
    background-color: black;
    color: white;
    text-align: right;
    padding: 1rem;
    

}

.main_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
background: center;}

div{
    width: calc(100%/8.2);
    height: 150px;
    background-color: red;
    border: solid black;
    margin: 1rem;
    background-size: cover;   
   background-image: url(https://i.picsum.photos/id/316/200/150.jpg?hmac=6BDWvxa-SxGG_hSXn5DVxLTjhT1BZETWRfLlg0kxPO8);
    
}