*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
    width: 100%;
}

.main_class{
    background-color: black;
    text-align: right;
    height: 92vh;


}

article{
    padding: 1rem;
    color: white;
}

.flex{
    display: flex;
}
.ph_box{
    margin-top:30px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    background: center;}

.ph{
    min-width: 150px;
    width: calc(100%/7);
    height: 150px;
    background-color: red;
    border: solid black;
    background-size: cover;   
    background-image: url(https://i.picsum.photos/id/316/200/150.jpg?hmac=6BDWvxa-SxGG_hSXn5DVxLTjhT1BZETWRfLlg0kxPO8);
    
}

nav{
    width: 100%;
    background-color: #222222;
    height: 8vh;
    color: white;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.left_nav {
   font-size: 2.5rem;
   align-items: center;
   align-items: flex-end;
   /* text-align: center; */
}

.left_nav i {
    padding: 1rem;
}

.fa-angle-up{
    font-size: 1rem;
    align-items: center;
  
}

.fa-share-square{
    color: green;
}

.fa-share-square + span{
    color: white;
}


.central_nav{
    font-size: 2.5rem;
    align-items: center;
    /* text-align: center; */
}


.central_nav i {
    padding: 1.2rem;
}
   
span{
    margin-top: .4rem;
    display: block;
    font-size: 1rem;
}